.debug{
  height: 500px;
}
/* HEADER */

header  {
  width: 100%;
  background-color: white;

}

header .navbar{
  line-height: 80px;
}

header li a{
  color: #5b6886;
  font-size: 15px;

}

.logo_header{
  height: 30px;
}

.btn_blue{
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: white;
  padding: 4px 6px;
}

.padding_30{
  padding-right: 30px;
}

/* JUMBOTRON */

#jumbotron{
  background-image: url('../img/bg-home-1.jpg');
  background-size: cover;
  padding-bottom: 40px;
}

#jumbotron h1{
 color: white;
 font-size: 55px;
}

#jumbotron p{
  color: white;
  font-size: 15px;
  line-height: 1.8;
}

#jumbotron .box{
  /* height: 400px; */
  background-color: white;
  border-radius: 5px;
  padding-bottom: 30px;
}

#jumbotron .box_text h3 {
  color: #5b6886;
  font-size: 30px;
  padding-top: 30px;
}

#jumbotron .box_text h3:last-child{
  color: blue;
  padding: 0;
}

#jumbotron .dati{
  width: 80%;
  margin: auto;
}

#jumbotron button{
  margin-bottom: 5px;
}


.btn_form{
  width: 100%;
  color: gray;
}

.btn_form_blue{
  background-color: rgba(76, 139, 223, 0.91);
  color: white;
}

.btn_form_gray{
  border: 1px solid gray;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
}

#jumbotron small{
  color: #5b6886;
  font-size: 15px;

}

/* LOGHI */

#loghi {
  background-color: rgb(194, 203, 221, 0.3);
  padding: 50px 0;
}

#loghi h4{
  text-transform: uppercase;
}

#loghi img {
  height: 70px;
  vertical-align: middle;
}

#loghi a i {
  font-size: 10px;
  vertical-align: middle;
}

/* APPLICATIONS */

#applications h2 {
  color: #5b6886;
  margin-top: 70px;
}

#applications .text_app p:first-child{
  color: #5b6886;
  margin-bottom: 50px;
  padding: 0 100px;
}

#applications li {
  font-size: 20px;
  color: grey;
  line-height: 2.5;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}

#applications ul {
  margin-bottom: 20px;
}

#applications .info{
  padding: 30px;
}

#applications .info p {
  padding-right: 15px;
  margin-bottom: 60px;
  color: grey;
}

#applications .info h4 {
  color: #5b6886;
}

/* IMG_BOX */
#img_box{
  background-color: rgb(194, 203, 221, 0.3);
}

#img_box .text_img {
  margin: 30px 0;
  color: #5b6886;
}

#img_box img {
  width: 50%;
  padding-bottom: 20px;
}

#img_box .text_img_box {
  color: #031c4e;
  font-weight: bold;
  padding-bottom: 40px;
}

/* BUSINESS */

#business h2{
  padding-bottom: 30px;
  color: #031c4e;
}

#business .info{
  font-size: 15px;
}


#business .info h3{
  color: #031c4e;
  font-size: 20px;
  font-weight: 500;
}

#business .padding_30{
  padding-bottom: 40px;
}

/* TABELLA */

#tabella{
  background: linear-gradient(to top,rgb(24, 57, 176), rgb(46, 192, 224));
  color: white;

}

#tabella h2{
  margin-bottom: 40px;
}

#tabella a{
  color: rgb(29, 240, 170);
}

#tabella .city{
  padding: 15px  5px;
  border-bottom: 1px solid white;
}

#tabella .off{
  border-bottom: none;
  margin-bottom: 10px;
}

#tabella .city div:first-child{
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}


/* IMG_BOX2 */
#img_box2 {
  background-color: #F3F5F9;
}

#img_box2 h2{
  font-size: 40px;
  color: #031c4e;
  padding-top: 30px;
}

.box_img2 {
  height: 420px;
  background-color: white;
  margin-top: 90px;
  padding-top: 40px;
  width: 100%;
}

.box_img2 img{
  padding-bottom: 20px;
  width: 60%;
}

.box_img2 p{
  padding-bottom: 10px;
}

#img_box2 h3{
  margin: auto;
  width: 60%;
  padding-top: 10px;
  font-size: 20px;
  line-height: 2.6;
}


#img_box2 .row span a i{
  padding-bottom: 60px;
  padding-top: 40px;

}

#img_box2 .bold{
  font-size: 20px;
  font-weight: bold;
  color: #031c4e;
}

#img_box2 .text_p{
  font-size: 20px;
  color: #5b6886;
}

#img_box2 .white{
  color: white;
}

#get_started{
  background-color: rgb(5, 38, 124);
}

#get_started h3{
color: white;
}

#get_started .btn_blue{
color: blue;
}

#get_started .btn_blue_2{
  padding-bottom: 30px;
}


#footer-bottom{
  background-color: rgb(8, 21, 55);
  color: lightgrey;

}

.p_top_30{
  padding-top: 30px;
}

.p_bot_10{
  padding-bottom: 10px;
}

footer .social{
  padding: 5px;
  font-size: 20px;
}

#footer-bottom .container ul li {
  text-decoration: none;
  list-style: none;
}

#footer-bottom .container ul li a{
  color: lightgrey;
}

#footer-bottom ul li a.text_upp{
  font-size: 20px;
  font-weight: bolder;
  color: white;
}

#footer-bottom img{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
