.debug{
  height: 500px;
}
/* HEADER */

header  {
  width: 100%;
  background-color: white;

}

header .navbar{
  line-height: 80px;
}
header li a{
  color: #5b6886;
  font-size: 15px;

}

.logo_header{
  height: 30px;
}

.btn_blue{
  color: blue;
  border: 1px solid blue;
  border-radius: 5px;
  background-color: white;
  padding: 4px 6px;
}


/* JUMBOTRON */

#jumbotron{
  background-image: url('../img/bg-home-1.jpg');
  background-size: cover;
  padding-bottom: 40px;
}

#jumbotron h1{
 color: white;
 font-size: 55px;
}

#jumbotron p{
  color: white;
  font-size: 15px;
  line-height: 1.8;
}

#jumbotron .box{
  /* height: 400px; */
  background-color: white;
  border-radius: 5px;
  padding-bottom: 30px;
}

#jumbotron .box_text h3 {
  color: #5b6886;
  font-size: 30px;
  padding-top: 30px;
}

#jumbotron .box_text h3:last-child{
  color: blue;
  padding: 0;
}

#jumbotron .dati{
  width: 80%;
  margin: auto;
}

#jumbotron button{
  margin-bottom: 5px;
}


.btn_form{
  width: 100%;
  color: gray;
}

.btn_form_blue{
  background-color: rgba(76, 139, 223, 0.91);
  color: white;
}

.btn_form_gray{
  border: 1px solid gray;
  background-color: white;
  border-radius: 4px;
  padding: 5px;
}

#jumbotron small{
  color: #5b6886;
  font-size: 15px;

}

/* LOGHI */

#loghi {
  background-color: rgb(194, 203, 221, 0.3);
  padding: 50px 0;
}

#loghi h4{
  text-transform: uppercase;
}

#loghi img {
  height: 70px;
  vertical-align: middle;
}

#loghi a i {
  font-size: 10px;
  vertical-align: middle;
}

/* APPLICATIONS */

#applications h2 {
  color: #5b6886;
  margin-top: 70px;
}

#applications .text_app p:first-child{
  color: #5b6886;
  margin-bottom: 50px;
  padding: 0 100px;
}

#applications li {
  font-size: 20px;
  color: grey;
  line-height: 2.5;
  border-left: 2px solid lightgrey;
  padding-left: 10px;
}

#applications ul {
  margin-bottom: 20px;
}

#applications .info{
  padding: 30px;
}

#applications .info p {
  padding-right: 15px;
  margin-bottom: 60px;
  color: grey;
}

#applications .info h4 {
  color: #5b6886;
}

/* IMG_BOX */
#img_box{
  background-color: rgb(194, 203, 221, 0.3);
}

#img_box .text_img {
  margin: 30px 0;
  color: #5b6886;
}

#img_box img {
  width: 50%;
  padding-bottom: 20px;
}

#img_box .text_img_box {
  color: #031c4e;
  font-weight: bold;
  padding-bottom: 40px;
}

/* BUSINESS */

#business h2{
  padding-bottom: 30px;
  color: #031c4e;
}

#business .info{
  font-size: 15px;
}


#business .info h3{
  color: #031c4e;
  font-size: 20px;
  font-weight: 500;
}

#business .padding_30{
  padding-bottom: 30px;
}

/* TABELLA */

#tabella{
  background: linear-gradient(to top,rgb(24, 57, 176), rgb(46, 192, 224));
  color: white;
}

#tabella h2{
  margin-bottom: 40px;
}

#tabella a{
  color: rgb(29, 240, 170);
}

#tabella [class*='col-xs']{
  border-bottom: 2px solid gray;
}
